[*.cs]

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = warning

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error
