.note-search-header {
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 10px 0px;
    display: flex;
    height: 150px;
    margin: 0 !important;
    overflow-y: hidden;
    padding: 10px;
    width: 100%;
}

.note-search-header > .left {
    flex: 3;
}

.note-search-header > .right {
    flex: 2;
}

.note-search-header .dropdown > button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #1CA8DD !important;
    font-size: 1.1rem;
    font-weight: 300;
    transition: none;
}

.note-search-header .dropdown > button:hover {
    text-decoration: underline;
}

.note-search-header-note-type-selector {
    width: 300px;
}

.note-search-header-note-type {
    cursor: pointer;
    padding: 4px 20px;
    transition: background-color 0.2s;
}

.note-search-header-note-type:hover {
    background-color: rgba(28,168,221,0.2) !important;
}

.note-search-header-note-dataset {
    background-color: white;
    border: 1px solid rgba(28, 170, 221, 0.699);
    border-radius: 8px;
    color: #1CA8DD;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 8px;
}

.note-search-header-note-dataset:hover {
    background-color: rgba(28, 170, 221, 0.2);
}