.dynamic-timeline {
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.recharts-layer.recharts-line > path {
    filter: drop-shadow(2px 3px 4px rgb(0,0,0,0.25));
    stroke-width: 4px;
}

.timelines-yaxis {
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 200;
    shape-rendering: crispEdges;
    width: 100%;
}

.dynamic-timeline-trend-container {
    background-color: white;
    box-shadow: 0 10px 10px rgb(0,0,0,0.4);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 105;
}

.dynamic-timeline-trend {
    border: 1px solid rgb(230,230,230);
    font-size: 2rem;
    font-weight: 300;
}

.dynamic-timeline-trend-bar {
    display: flex;
    height: 100%;
}

.dynamic-timeline-trend-bar > div {
    border-right: 1px solid rgb(230,230,230);
    height: 100%;
}

.dynamic-timeline-trend-bar-arrow {
    position: relative;
    width: 20%;
}

.dynamic-timeline-trend-bar-arrow svg {
    font-size: 6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dynamic-timeline-trend-bar-text-container {
    display: flex;
    padding: 2px 10px;
    width: 63%;
}

.dynamic-timeline-trend-bar-last-value > div {
    font-size: 4.5rem;
    line-height: 1.1;
}

.dynamic-timeline-trend-bar-name-container {
    padding: 4px 0 0 10px;
}

.dynamic-timeline-trend-bar-name {
    font-size: 1.6rem;
}

.dynamic-timeline-trend-bar-datediff {
    color: green;
    font-size: 1.1rem;
    margin-top: -6px;
}

.dynamic-timeline-trend-bar-all-diff {
    width: 17%;
}