.dynamic-timeline {
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

/* Header */
.dynamic-timeline-header-separator {
    background-color: rgb(230,230,230);
    height: 1px;
    margin: 4px 0 6px;
    width: 100%;
}

.dynamic-timeline-header-container {
    padding: 10px;
}

.dynamic-timeline-header-container > div {
    display: inline-block;
}

.dynamic-timeline-header-bubble {
    border-radius: 8px;
    padding: 6px 10px;
}

.dynamic-timeline-title {
    background-color: rgb(240,240,240);
    font-size: 1.7rem;
    font-weight: 300;
}

.dynamic-timeline-export {
    background-color: rgba(51, 134, 230, 0.2);
    border: 1px solid rgba(51, 134, 230, 0.3);
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 20px;
}

.dynamic-timeline-export:hover {
    background-color: rgba(51, 134, 230, 0.3);
}

.dynamic-timeline-export svg {
    font-size: 1.8rem;
    margin: 0 4px -4px 0;
}

.dynamic-timeline-comparison-container {
    float: right;
    position: relative;
}

.dynamic-timeline-comparison-title-outer {
    background-color: white;
    bottom: 0;
    right: -10px;
    padding: 0 12px 0;
    position: absolute;
}

.dynamic-timeline-comparison-title-inner {
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
    width: max-content;
}

.dynamic-timeline-comparison-all-patients-text {
    position: absolute;
    right: -8px;
    text-align: center;
    top: 12px;
    width: 84px;
}

/* Chart */
.dynamic-timeline-chart-container {
    position: relative;
}

.dynamic-timeline-chart-container .recharts-xAxis.xAxis line {
    display: none;
}

.dynamic-timeline-chart-container .recharts-layer.recharts-line path {
    filter: drop-shadow(2px 3px 4px rgb(0,0,0,0.25));
    stroke-width: 4px;
    transition: opacity 0.2s;
}

.dynamic-timeline-grid-line line {
    stroke: rgb(225,225,225);
}

.dynamic-timeline-chart-container .recharts-line-dots circle {
    r: 5px;
    stroke-width: 2px;
}

.dynamic-timeline-small-multiples-container:hover .recharts-layer.recharts-line path,
.dynamic-timeline-small-multiples-container:hover .recharts-line-dots circle {
    filter: none;
    stroke-opacity: 0.6;
}

.dynamic-timeline-small-multiples-container .recharts-surface:hover .recharts-layer.recharts-line path,
.dynamic-timeline-small-multiples-container .recharts-surface:hover .recharts-line-dots circle {
    filter: drop-shadow(2px 3px 4px rgb(0,0,0,0.25));
    r: 7px;
    stroke-opacity: 1;
}

.dynamic-timeline-chart-event-dot circle {
    filter: drop-shadow(2px 3px 4px rgb(0,0,0,0.25));
    r: 8px;
    stroke: rgb(192, 31, 45);
    stroke-width: 3px;
}

.dynamic-timeline-chart-event-line line {
    stroke: rgb(192, 31, 45);
    stroke-width: 3px;
}

.dynamic-timelines-event-box {
    filter: drop-shadow(2px 3px 4px rgb(0,0,0,0.25));
    height: 100px;
    text-align: center;
    width: 100px;
}

.dynamic-timelines-event-box div {
    border: 2px solid rgb(192, 31, 45);
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    min-width: 70px;
    max-width: 120px;
    padding: 4px;
}

/* Trend box */
.dynamic-timeline-trend-container {
    background-color: white;
    border: 1px solid rgb(220,220,220);
    box-shadow: 0 2px 10px rgb(0,0,0,0.4);
    height: 462px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 105;
}

.dynamic-timeline-trend {
    border-bottom: 1px solid rgb(237,237,237);
    font-size: 2rem;
    font-weight: 300;
}

.dynamic-timeline-trend-bar {
    display: flex;
    height: 100%;
}

.dynamic-timeline-trend-bar > div {
    border-right: 1px solid rgb(237,237,237);
    height: 100%;
}

.dynamic-timeline-trend-bar-arrow {
    position: relative;
    width: 15%;
}

.dynamic-timeline-trend-bar-arrow svg {
    font-size: 6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dynamic-timeline-trend-bar-text-container {
    display: flex;
    padding: 2px 10px;
    width: 68%;
}

.dynamic-timeline-trend-bar-last-value > div {
    font-size: 4.5rem;
    line-height: 1.1;
}

.dynamic-timeline-trend-bar-name-container {
    padding: 4px 0 0 10px;
}

.dynamic-timeline-trend-bar-name {
    font-size: 1.6rem;
}

.dynamic-timeline-trend-bar-name.non-numeric-last {
    font-size: 1.6rem;
    margin: -2px 0 0;
}

.dynamic-timeline-trend-bar-datediff {
    color: green;
    font-size: 1.1rem;
    margin-top: -6px;
}

.dynamic-timeline-trend-bar-all-diff {
    padding: 2px;
    position: relative;
    text-align: center;
    width: 17%;
}

.dynamic-timeline-trend-bar-all-diff-inner {
    font-size: 1rem;
    position: absolute;
}

.dynamic-timeline-tooltip {
    background-color: white;
    box-shadow: 0 2px 10px rgb(0,0,0,0.4);
    border-radius: 4px;
    padding: 8px 15px;
}

.dynamic-timeline-tooltip-title {
    font-size: 1.5rem;
    font-weight: 300;
}

.dynamic-timeline-tooltip-value {
    font-weight: 300;
    font-size: 3rem;
    margin-left: 4px;
}

.dynamic-timeline-tooltip-date {
    color: green;
    margin: -8px 0 4px;
}

.dynamic-timeline-tooltip-context-container {
    max-width: 500px;
    margin-bottom: 4px;
}

.dynamic-timeline-tooltip-context-field {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 4px;
}

.dynamic-timeline-tooltip-context-value {
    color: rgb(120,120,120);
    font-size: 1.1rem;
    font-style: italic;
}

.dynamic-timeline-tooltip-context-value .highlight {
    background-color: transparent !important;
    border-bottom: 2px solid #ff0e50;
    color: black;
    font-weight: 700;
}