.note-search-results-container {
    height: calc(100vh - 55px - 150px);
    margin-top:1px;
    overflow-x: hidden;
    padding: 30px 10% !important;
}

.note-search-results-document {
    border: 1px solid rgb(230,230,230);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
    cursor: pointer;
    margin: 10px 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    transition: box-shadow .3s;
    width: 80%;
}

.note-search-results-document:hover {
    border-color: rgb(186, 67, 223);
    box-shadow: rgba(213, 234, 244, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.note-search-results-document-header {
    border-bottom: 1px solid rgb(230,230,230);
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
}

.note-search-results-document-header > div {
    display: inline-block;
}

.note-search-results-document-header > div:last-child {
    float: right;
}

.note-search-results-line {
    margin: 4px 0;
}

.note-search-results-line-number {
    background-color: rgb(245,245,245);
    border-right: 1px solid rgb(225,225,225);
}

.note-search-results-context {
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(70,70,70);
    padding: 2px;
}

.note-search-results-context:hover {
    background-color: rgba(186, 67, 223, 0.05);
    border-color: rgb(186, 67, 223);
}

.note-search-results-match {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    margin: 0 2px;
    padding: 2px 4px;
}

.note-search-results-no-hits,
.note-search-results-no-terms {
    background-color: rgba(28, 170, 221, 0.05);
    border: 2px dashed rgba(28, 170, 221, 0.699);
    border-radius: 8px;
    color: black;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.note-search-results-no-hits p,
.note-search-results-no-terms p {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
}

.note-search-results-doccount-container,
.note-search-results-info {
    color: rgb(150, 150, 150);
    font-size: 1.1rem;
    margin: 10px 0 0 8px;
    position: relative;
}

.note-search-results-info {
    margin-top: 0;
}

.note-search-results-doccount-container .note-search-results-doccount {
    color: rgb(186, 67, 223);
}

.modal-dialog.note-search-results-fullnote-modal {
    border: none;
    box-shadow: rgba(213, 234, 244, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: calc(100vw - 500px);
}

.modal-dialog.note-search-results-fullnote-modal .modal-body {
    height: calc(100vh - 150px);
    overflow-y: auto;
    padding: 0;
}

.modal-dialog.note-search-results-fullnote-modal .modal-body .note-search-results-document {
    border: none !important;
    border-radius: 0;
    cursor: default;
    margin: 0;
    width: 100%;
}

.modal-dialog.note-search-results-fullnote-modal .modal-header {
    background-color: rgb(245,245,245);
    display: block;
}

.note-search-results-fullnote-modal-close {
    cursor: pointer;
    float: right;
}

.note-search-results-fullnote-modal-close:hover {
    color: red;
}