.note-search-results-container {
    height: calc(100vh - 55px - 84px);
    overflow-x: hidden;
    padding: 30px 10% !important;
}

.note-search-results-document {
    border: 1px solid rgb(230,230,230);
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    overflow-y: auto;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
    transition: all .2s;
    width: 80%;
}

.note-search-results-result-header {
    border-bottom: 1px solid rgb(230,230,230);
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
}

.note-search-results-line {
    margin: 4px 0;
}

.note-search-results-line-number.col-md-1 {
    zpadding-right: 0 !important;
    zwidth: 20px !important;
}

.note-search-results-line-number {
    background-color: rgb(245,245,245);
    border-right: 1px solid rgb(225,225,225);
    zmargin: 0 4px 0 0;
    zwidth: 20px;
}

.note-search-results-context {
    color: rgb(70,70,70);
}

.note-search-results-match {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    margin: 0 2px;
    padding: 2px 4px;
}