.patientlist-export-modal-csv-example-table {
    background-color: #fafafa;
    border: 1px solid rgb(226, 226, 226);
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
}

.patientlist-export-modal-csv-example-table th {
    border: 1px solid rgb(226, 226, 226);
    border-bottom: 2px solid rgb(216, 216, 216); 
    border-radius: 4px;
}

.patientlist-export-modal-csv-example-table td {
    border: 1px solid rgb(226, 226, 226);
    padding: 0 20px;
}

.patientlist-export-modal-csv-exporting-container .progressbar-container {
    margin: 10px 0 20px;
}

.patientlist-export-modal-csv-subtext {
    color: rgb(100,100,100);
    font-size: 1.0rem;
    font-weight: 500;
    margin-top: 20px;
}