/* Left Column */
.dataset-editor-column-left {
    padding: 20px;
    padding-right: 30px !important;
}

/* Right Column */
.dataset-editor-column-right {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
    height: 100vh !important;
    outline: none;
    padding: 0;
    position: fixed;
    right: 0;
    width: 54%;
    z-index: 100;
}

/* Header */
.dataset-editor-column-right-header {
    margin-bottom: 20px;
}

.dataset-editor-column-right-header .leaf-button {
    margin-right: 20px !important;
}

.dataset-editor-column-right-header .leaf-button-secondary {
    background-color: white;
}

/* Main */
.dataset-editor-main {
    background-color: rgb(240,240,240);
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px 75px;
}

.dataset-editor-column-container,
.dataset-editor-sql {
    display: inline-block;
}

/* SQL */
.dataset-editor-sql-container {
    background-color: white;
    display: flex;
    padding: 8px;
    position: relative;
}

.dataset-editor-sql {
    border-left: 1px solid rgb(240,240,240);
    overflow-x: hidden;
    padding: 30px 10px 0;
    position: relative;
}

.dataset-editor-sql::after {
    border-bottom: 1px solid rgb(240,240,240);
    content: 'SQL Query';
    color: rgb(180,180,180);
    font-size: 0.85rem;
    left: 0;
    margin: -4px 0 0 4px;
    position: absolute;
    top: 0;
}

/* Shapes */
.dataset-editor-shape {
    border-left: 4px solid transparent;
    cursor: pointer;
    margin-left: 2px;
    padding: 4px 8px;
}

.dataset-editor-shape.selected,
.dataset-editor-shape:hover {
    border-left-color: #1CA8DD;
    background-color: rgba(28, 170, 221, 0.1);
}

/* Columns */
.dataset-editor-column-container {
    height: 100%;
    min-width: 200px;
    padding: 30px 8px 8px;
}

.dataset-editor-column-container::after {
    border-bottom: 1px solid rgb(240,240,240);
    content: 'Expected Columns';
    color: rgb(180,180,180);
    font-size: 0.85rem;
    left: 0;
    margin: 4px;
    position: absolute;
    top: 0;
}

.dataset-editor-column-container svg {
    margin-top: 5px;
}

.dataset-editor-column {
    font-family: Roboto;
    font-size: 1.0rem;
    font-weight: 500;
    min-height: 25px;
}

.dataset-editor-column > span {
    margin-left: 20px;
}

.dataset-editor-column svg {
    opacity: 0;
    stroke: rgb(7, 192, 69);
    position: absolute;
    transition: opacity 0.3s;
}

.dataset-editor-column.present svg {
    opacity: 1;
}

.dataset-editor-column.missing svg {
    stroke: rgb(206, 185, 0);
}

.dataset-editor-column.missing {
    padding-left: 0;
}

.dataset-editor-column.optional {
    color: rgb(150,150,150) !important;
    font-weight: 300;
}

/* Auto-format button */
.dataset-editor-sql-autoformat {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 0;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s;
    width: 135px;
    z-index: 100;
}

.dataset-editor-sql-autoformat:hover {
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
    color: black;
}