/* Left Column */
.dataset-editor-column-left {
    padding: 20px;
    padding-right: 30px !important;
}

/* Right Column */
.dataset-editor-column-right {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
    height: 100vh !important;
    outline: none;
    padding: 0;
    position: fixed;
    right: 0;
    width: 54%;
    z-index: 100;
}

/* Header */
.dataset-editor-column-right-header {
    margin-bottom: 20px;
}

.dataset-editor-column-right-header .leaf-button {
    margin-right: 20px !important;
}

.dataset-editor-column-right-header .leaf-button-secondary {
    background-color: white;
}

/* Main */
.dataset-editor-main {
    background-color: rgb(240,240,240);
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px 75px;
}

.dataset-editor-sql {
    overflow: hidden;
}

.dataset-editor-column-container svg {
    margin-bottom: -3px;
    margin-right: 3px;
}

.dataset-editor-column-container svg.present {
    stroke: rgb(7, 192, 69);
}

.dataset-editor-column-container svg.missing {
    stroke: rgb(206, 185, 0);
}

.dataset-editor-shape,
.dataset-editor-column {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 300;
    min-height: 28px;
}

/* Shapes */
.dataset-editor-shape {
    border-left: 4px solid transparent;
    cursor: pointer;
    margin-left: 2px;
    padding: 4px 8px;
}

.dataset-editor-shape.selected,
.dataset-editor-shape:hover {
    border-left-color: #1CA8DD;
    background-color: rgba(28, 170, 221, 0.1);
}

/* Columns */
.dataset-editor-column {
    padding-left: 18px;
}

.dataset-editor-column.present {
    color: black !important;
    font-weight: 500;
    padding-left: 0;
}

.dataset-editor-column.missing {
    padding-left: 0;
}

.dataset-editor-column.optional {
    color: rgb(150,150,150);
}