USE [LeafDB]
GO

/****** Object:  Table [app].[GlobalPanelFilter]    Script Date: 8/26/2019 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[GlobalPanelFilter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsInclusion] bit NOT NULL,
	[AccessModeId] [int] NULL,
	[SqlSetId] [int] NOT NULL,
	[SqlSetWhere] [nvarchar](1000) NULL,
	Created datetime NOT NULL,
	CreatedBy nvarchar(200) NOT NULL,
	Updated datetime NOT NULL,
	UpdatedBy nvarchar(200) NOT NULL
 CONSTRAINT [PK_GlobalPanelFilter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[AccessMode]    Script Date: 8/26/2019 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[AccessMode](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AccessMode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [ref].[AccessMode] ([Id], [Name]) VALUES (1, N'QI')
GO
INSERT [ref].[AccessMode] ([Id], [Name]) VALUES (2, N'Research')
GO
ALTER TABLE [app].[GlobalPanelFilter]  WITH CHECK ADD  CONSTRAINT [FK_GlobalPanelFilter_AccessModeId] FOREIGN KEY([AccessModeId])
REFERENCES [ref].[AccessMode] ([Id])
GO
ALTER TABLE [app].[GlobalPanelFilter] CHECK CONSTRAINT [FK_GlobalPanelFilter_AccessModeId]
GO
ALTER TABLE [app].[GlobalPanelFilter]  WITH CHECK ADD  CONSTRAINT [FK_GlobalPanelFilter_ConceptSqlSetId] FOREIGN KEY([SqlSetId])
REFERENCES [app].[ConceptSqlSet] ([Id])
GO
ALTER TABLE [app].[GlobalPanelFilter] CHECK CONSTRAINT [FK_GlobalPanelFilter_ConceptSqlSetId]
GO

/****** Object:  UserDefinedDataType [auth].[AccessMode]  Script Date: 8/26/2019 2:07:52 PM ******/
CREATE TYPE [app].[AccessMode] FROM [int] NOT NULL
GO

/*
 * Update Panel Filter columns
 */

-- Created
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'Created' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		ADD Created DATETIME NOT NULL CONSTRAINT [DF_PanelFilter_Created] DEFAULT GETDATE()
	END

-- CreatedBy
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'CreatedBy' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		ADD CreatedBy NVARCHAR(1000) NOT NULL CONSTRAINT TEMP_DEF1 DEFAULT 'leaf_3.4.0_migration'
		
		ALTER TABLE app.PanelFilter DROP CONSTRAINT TEMP_DEF1
	END

-- Updated
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'Updated' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		ADD Updated DATETIME NOT NULL CONSTRAINT [DF_PanelFilter_Updated] DEFAULT GETDATE()
	END

-- UpdatedBy
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'UpdatedBy' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		ADD UpdatedBy NVARCHAR(1000) NOT NULL CONSTRAINT TEMP_DEF1 DEFAULT 'leaf_3.4.0_migration'

		ALTER TABLE app.PanelFilter DROP CONSTRAINT TEMP_DEF1
	END

-- Constraints
IF OBJECT_ID('app.DF_PanelFilter_LastChanged') IS NOT NULL 
    ALTER TABLE app.PanelFilter DROP CONSTRAINT DF_PanelFilter_LastChanged

-- LastChanged
IF EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'LastChanged' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		DROP COLUMN LastChanged
	END

-- ChangedBy
IF EXISTS (SELECT 1 FROM sys.columns WHERE Name = N'ChangedBy' AND Object_ID = Object_ID(N'app.PanelFilter'))
	BEGIN
		ALTER TABLE app.PanelFilter
		DROP COLUMN ChangedBy
	END
GO

/*
 * [adm].[sp_CreatePanelFilter].
 */
IF OBJECT_ID('adm.sp_CreatePanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_CreatePanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Create a new app.PanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_CreatePanelFilter]
    @conceptId uniqueidentifier,
    @isInclusion bit,
	@uiDisplayText nvarchar(1000),
	@uiDisplayDescription nvarchar(4000),
	@user auth.[User]
AS
BEGIN
    SET NOCOUNT ON

	IF (app.fn_NullOrWhitespace(@conceptId) = 1)
        THROW 70400, N'PanelFilter.ConceptId is required.', 1;

    IF (app.fn_NullOrWhitespace(@uiDisplayText) = 1)
        THROW 70400, N'PanelFilter.UiDisplayText is required.', 1;

	IF (app.fn_NullOrWhitespace(@uiDisplayDescription) = 1)
        THROW 70400, N'PanelFilter.UiDisplayDescription is required.', 1;

    BEGIN TRAN;
    BEGIN TRY

        IF EXISTS (SELECT 1 FROM app.PanelFilter WHERE ConceptId = @conceptId AND IsInclusion = @isInclusion)
            THROW 70409, N'PanelFilter already exists with that ConceptId and Inclusion setting.', 1;

        INSERT INTO app.PanelFilter (ConceptId, IsInclusion, UiDisplayText, UiDisplayDescription, Created, CreatedBy, Updated, UpdatedBy)
        OUTPUT 
			inserted.Id
		  , inserted.ConceptId
		  , inserted.IsInclusion
		  , inserted.UiDisplayText
		  , inserted.UiDisplayDescription
        VALUES (@conceptId, @isInclusion, @uiDisplayText, @uiDisplayDescription, GETDATE(), @user, GETDATE(), @user);
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_CreateGlobalPanelFilter].
 */
IF OBJECT_ID('adm.sp_CreateGlobalPanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_CreateGlobalPanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Create a new app.GlobalPanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_CreateGlobalPanelFilter]
    @accessModeId [app].[AccessMode],
	@isInclusion bit,
	@name nvarchar(100),
	@sqlSetId int,
	@sqlSetWhere nvarchar(1000),
	@user auth.[User]
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRAN;
    BEGIN TRY

        INSERT INTO app.GlobalPanelFilter (AccessModeId, IsInclusion, [Name], SqlSetId, SqlSetWhere, Created, CreatedBy, Updated, UpdatedBy)
        OUTPUT 
			inserted.Id
		  , inserted.AccessModeId
		  , inserted.IsInclusion
		  , inserted.[Name]
		  , inserted.SqlSetId
		  , inserted.SqlSetWhere
        VALUES (@accessModeId, @isInclusion, @name, @sqlSetId, @sqlSetWhere, GETDATE(), @user, GETDATE(), @user);
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_UpdatePanelFilter].
 */
IF OBJECT_ID('adm.sp_UpdatePanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_UpdatePanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Updates a app.PanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_UpdatePanelFilter]
	@id int,
    @conceptId uniqueidentifier,
    @isInclusion bit,
	@uiDisplayText nvarchar(1000),
	@uiDisplayDescription nvarchar(4000),
	@user auth.[User]
AS
BEGIN
    SET NOCOUNT ON

	IF (app.fn_NullOrWhitespace(@conceptId) = 1)
        THROW 70400, N'PanelFilter.ConceptId is required.', 1;

    IF (app.fn_NullOrWhitespace(@uiDisplayText) = 1)
        THROW 70400, N'PanelFilter.UiDisplayText is required.', 1;

	IF (app.fn_NullOrWhitespace(@uiDisplayDescription) = 1)
        THROW 70400, N'PanelFilter.UiDisplayDescription is required.', 1;

    BEGIN TRAN;
    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM app.PanelFilter WHERE Id = @id)
            THROW 70409, N'PanelFilter does not exist.', 1;

		UPDATE app.PanelFilter
		SET ConceptId = @conceptId
		  , IsInclusion = @isInclusion
		  , UiDisplayText = @uiDisplayText
		  , UiDisplayDescription = @uiDisplayDescription
		  , Updated = GETDATE()
		  , UpdatedBy = @user
		OUTPUT inserted.Id, inserted.ConceptId, inserted.IsInclusion, inserted.UiDisplayText, inserted.UiDisplayDescription
		WHERE Id = @id

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_UpdateGlobalPanelFilter].
 */
IF OBJECT_ID('adm.sp_UpdateGlobalPanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_UpdateGlobalPanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Updates an app.GlobalPanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_UpdateGlobalPanelFilter]
	@id int,
    @accessModeId [app].[AccessMode],
	@isInclusion bit,
	@name nvarchar(100),
	@sqlSetId int,
	@sqlSetWhere nvarchar(1000),
	@user auth.[User]
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRAN;
    BEGIN TRY

		IF NOT EXISTS (SELECT 1 FROM app.GlobalPanelFilter WHERE Id = @id)
            THROW 70409, N'GlobalPanelFilter does not exist.', 1;

		UPDATE app.GlobalPanelFilter
		SET AccessModeId = @accessModeId
		  , IsInclusion = @isInclusion
		  , [Name] = @name
		  , SqlSetId = @sqlSetId
		  , SqlSetWhere = @sqlSetWhere
		  , Updated = GETDATE()
		  , UpdatedBy = @user
		WHERE Id = @id

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_DeletePanelFilter].
 */
IF OBJECT_ID('adm.sp_DeletePanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_DeletePanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Deletes an app.PanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_DeletePanelFilter]
	@id int
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRAN;
    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM app.PanelFilter WHERE Id = @id)
            THROW 70409, N'PanelFilter does not exist.', 1;

		DELETE app.PanelFilter
		OUTPUT deleted.Id
		WHERE Id = @id;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_DeleteGlobalPanelFilter].
 */
IF OBJECT_ID('adm.sp_DeleteGlobalPanelFilter', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_DeleteGlobalPanelFilter];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Deletes an app.GlobalPanelFilter.
-- =======================================
CREATE PROCEDURE [adm].[sp_DeleteGlobalPanelFilter]
	@id int
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRAN;
    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM app.GlobalPanelFilter WHERE Id = @id)
            THROW 70409, N'GlobalPanelFilter does not exist.', 1;

		DELETE app.GlobalPanelFilter
		OUTPUT deleted.Id
		WHERE Id = @id;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH;
END
GO

/*
 * [adm].[sp_GetPanelFilters].
 */
IF OBJECT_ID('adm.sp_GetPanelFilters', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_GetPanelFilters];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26 
-- Description: Gets all panel filters.
-- =======================================
CREATE PROCEDURE [adm].[sp_GetPanelFilters]
AS
BEGIN
    
	SELECT
		Id
	  , ConceptId
	  , IsInclusion
	  , UiDisplayText
	  , UiDisplayDescription
	FROM app.PanelFilter

END
GO

/*
 * [adm].[sp_GetGlobalPanelFilters].
 */
IF OBJECT_ID('adm.sp_GetGlobalPanelFilters', 'P') IS NOT NULL
    DROP PROCEDURE [adm].[sp_GetGlobalPanelFilters];
GO
-- =======================================
-- Author:      Nic Dobbins
-- Create date: 2019/8/26
-- Description: Gets all GlobalPanelFilters.
-- =======================================
CREATE PROCEDURE [adm].[sp_GetGlobalPanelFilters]
AS
BEGIN
    
	SELECT
		Id
	  , AccessModeId
	  , IsInclusion
	  , SqlSetId
	  , SqlSetWhere
	FROM app.GlobalPanelFilter

END